body {
  padding: 0px;
  margin: 0px;
}
.calculator {
  display: grid;
  justify-content: center;

  text-align: center;
  grid-gap: 10px;
  /* margin: 400px; */
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  border-radius: 50px;
background: #1d1b1b;
box-shadow:  20px 20px 36px #191717,
             -20px -20px 36px #211f1f;
  padding: 0px;
  width: 30%;
  height: 650px;
}
/* controls of the calculator */
.controls {
}

button {
  width: 100px;
  height: 50px;
  cursor: pointer;
  /* background-color: #fff; */
  margin-top: 0px;
  background-color: #191717;
  color: #fff;
}
.clear_red {
  background-color: red;
}
button:hover {
  background-color: blue;
}
/* first row of data */
.first_row {
  margin: 0px;
}

/* textarea */
textarea {
  width: 80%;
  height: 50px;
  margin: 40px 40px;
  resize: none;
}

/* @media screen and (max-width: 800px) {
  .calculator {
    display: grid;
    width: 50%;
    height: 80%;
  }
  textarea {
    width: 80%;
    margin: 20px;
  }
  button {
    width: 100px;
    height: 40px;
  }
} */

@media screen and (min-width: 280px) and (max-width: 1200px) {
  .calculator {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
   text-align: center;

    width: 80%;
    height: 70%;
   
  }
  textarea {
    width: 50%;
    margin: 20px;
  }
  button {
    width: 60px;
    height: 40px;
  }
  .controls {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-gap: 1px;
    height: 350px;
    width: 100px;
    align-items: center;
    text-align: center;
    position: relative;
    left: 10%;
  }
  textarea {
    width: 80%;
  }
}
@media screen and (width: 820px) {
  .calculator {
    display: grid;

    width: 40%;
    height: 55%;
  }
  .controls {
    display: grid;
    grid-template-columns: repeat(5, 0.5fr);
    grid-gap: 1px;
  }
  textarea {
    width: 50%;
    margin: 20px;
  }
  button {
    width: 40px;
    height: 40px;
  }
}
@media screen and (width: 768px) {
  .calculator {
    display: grid;

    width: 40%;
    height: 55%;
  
  }
  .controls {
    display: grid;
    grid-template-columns: repeat(5, 0.5fr);
    grid-gap: 1px;
  }
  textarea {
    width: 50%;
    margin: 20px;
  }
  button {
    width: 40px;
    height: 40px;
  }
}

/* FOR BIG SCREENS */
@media (width: 1200px) {
  .calculator {
     display: grid;

    width: 40%;
    height: 55%;
}
