body {
  padding: 0px;
  margin: 0px;
}
.calculator {
  display: grid;
  justify-content: center;

  text-align: center;
  grid-gap: 10px;
  /* margin: 400px; */
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  border-radius: 27px;
  background: #c9b6b6;
  box-shadow: inset 8px 2px 5px #695f5f, inset -8px -8px 5px #ffffff;
  padding: 0px;
  width: 30%;
  height: 650px;
}
/* controls of the calculator */
.controls {
}

button {
  width: 100px;
  height: 50px;
  cursor: pointer;
  /* background-color: #fff; */
  margin-top: 0px;
  background-color: white;
}
.clear_red {
  background-color: red;
}
button:hover {
  background-color: blue;
}
/* first row of data */
.first_row {
  margin: 0px;
}

/* textarea */
textarea {
  width: 80%;
  height: 50px;
  margin: 40px 40px;
  resize: none;
}

/* @media screen and (max-width: 800px) {
  .calculator {
    display: grid;
    width: 50%;
    height: 80%;
  }
  textarea {
    width: 80%;
    margin: 20px;
  }
  button {
    width: 100px;
    height: 40px;
  }
} */

@media screen and (min-width: 375px) {
  .calculator {
    display: grid;
    width: 80%;
    height: 70%;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
  }
  textarea {
    width: 50%;
    margin: 20px;
  }
  button {
    width: 40px;
    height: 40px;
  }
  .controls {
    display: grid;
    grid-template-columns: repeat(5, 0.5fr);
    grid-gap: 1px;
    height: 350px;
  }
  textarea {
    width: 80%;
  }
}
@media screen and (width: 820px) {
  .calculator {
    display: grid;

    width: 40%;
    height: 55%;
  }
  .controls {
    display: grid;
    grid-template-columns: repeat(5, 0.5fr);
    grid-gap: 1px;
  }
  textarea {
    width: 50%;
    margin: 20px;
  }
  button {
    width: 40px;
    height: 40px;
  }
}
@media screen and (width: 768px) {
  .calculator {
    display: grid;

    width: 40%;
    height: 55%;
  }
  .controls {
    display: grid;
    grid-template-columns: repeat(5, 0.5fr);
    grid-gap: 1px;
  }
  textarea {
    width: 50%;
    margin: 20px;
  }
  button {
    width: 40px;
    height: 40px;
  }
}
